* {
  margin: 0px;
}

.dark-bg {
  background: #172b4dd3;
  padding: 10px;
}

.get-help-dark {
  font-family: "DM Sans";
  font-size: 1rem;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  border: none;
  display: flex;
  color: rgb(22,29,41);
  font-weight: 500;
  height: 48px;
  cursor: pointer;
  /* background-image: linear-gradient(90deg, rgb(3, 48, 66), rgb(0, 92, 131)); */
  background: linear-gradient(to right, hsla(0, 0%, 100%, 0.6), #eaf1fd);
  align-items: center;
  margin: 0px;
  transition: box-shadow 0.5s, transform 0.25s;
}

.get-help-dark:hover {
  /* transition: all 0.35s; */
  background: linear-gradient(to left, hsla(0, 0%, 100%, 0.6), #eaf1fd);
  box-shadow: 0px 0px 50px 5px rgba(255, 255, 255, 0.15);
}

.get-help-dark:active {
  transform: scale(0.99);
}

.get-help {
  font-family: "DM Sans";
  font-size: 1rem;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  border: none;
  display: flex;
  color: white;
  font-weight: 500;
  height: 48px;
  cursor: pointer;
  background-image: linear-gradient(90deg, rgb(3, 48, 66), rgb(0, 92, 131));
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: background-size 0.25s, border-radius 0.7s, transform 0.25s;
}

.get-help:hover {
  /* transition: all 0.35s; */
  background-size: 200%;
  /* box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.15); */
  border-radius: 9px;
  /* transition: ; */
}

.get-help:active {
  transform: scale(0.99);
}

.send {
  display: flex;
  height: 70%;
  aspect-ratio: 1/1;
  padding: 7.5px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}


.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  aspect-ratio: 3 / 4;

  max-height: 90%;

  border-radius: 6px;
  flex-direction: column;

  z-index: 1000;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.25) ;
}

.modal>*{
    border: 0.01rem solid #557486 ;
}
.modal .header {
  font-family: "DM Sans";
  font-size: 1rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;


  display: flex;
  gap: 20px;
  flex-direction: row;
  color: white;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;

  background: rgb(22,29,41);
  justify-content: start;

  align-items: center;
}
.modal .interface {
  position: relative;
  display: flex;
  font-family: "DM Sans";
  background-color: #2b384e;
  width: 100%;
  background: rgb(22,29,41);

  padding: 30px;

  overflow-x: hidden;

  overflow-y: auto;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  gap: 20px;

  scrollbar-color: #ffffff53 #ffffff00;
  scrollbar-width: thin;
}

.modal .interface .user-chatbox {
  margin-left: auto; /* Align to the right */
  margin-right: 0%;
  display: flex;
  border-radius: 6px;
  font-family: "DM Sans";
  background-color: rgb(203, 203, 203);
  padding: 30px;
  max-width: min(80%, 500px);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: left;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal .interface .AI-chatbox {
  margin-right: auto;
  margin-left: 0%;
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  font-family: "DM Sans";
  background-color: rgb(43,56,78);
  padding: 30px;
  width: min(80%, 1000px);
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: left;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}

.chatbox {
  position: relative;
  font-family: "DM Sans";
  top: 0;
  width: 100%;
  background-color: rgb(22,29,41);;
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  padding: 10px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-sizing: border-box;
}

.chatbox textarea {
  flex: 1;
  padding: 10px;
  font-family: "DM Sans";
  border: 1.5px solid rgb(43,56,78);
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgb(22,29,41);
  outline: none;
  font-size: 16px;
  color: #fff;
  resize: none; /* Prevent resizing */
  height: 70%; /* Initial height */
  overflow-y: auto; /* Enable scrolling if needed */
}

.chatbox textarea::placeholder {
  color: #fff;
  font-family: "DM Sans";
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 43, 74, 0.5);
  backdrop-filter: blur(10px);
}
